/* Estilos específicos para la página de productos */
body {
    background-color: darkkhaki; /* Amarillo */
}

h3 {
    color: #333;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.product-image {
    max-width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.product-image:hover {
    transform: scale(1.1);
}
